body{
 background-image: url("background.jpg");
 background-size: cover;

}
h3{
    width: 100%;
    margin-top: 0%;
}
#AIDJ{
    font-size: x-large;
}
img{
    width: 250px;
}
#div_speed{
    float: left;
}
#div_volume{
    float: right;
}
canvas{
    border-width: 5px;
    border-style:groove;
    box-shadow: 10px 10px 50px white;
}